.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f4f1e9;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #e6e0d4;
  border-bottom: 2px solid #d1c8b8;
}

.backButton {
  background: none;
  border: 1px solid #8a7c66;
  color: #5c4e3a;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.pageNumber {
  font-size: 1.2em;
  font-weight: bold;
  color: #5c4e3a;
}

.imageWrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px;
  position: relative; /* مهم للـ loader */
}

.quranImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: 5px solid #fff;
}

.loader {
  position: absolute;
  font-size: 1.5em;
  color: #8a7c66;
}

.navigation {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  background-color: #e6e0d4;
  border-top: 2px solid #d1c8b8;
}

.navigation button {
  width: 45%;
  padding: 12px;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #8a7c66;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.navigation button:disabled {
  background-color: #c5bba8;
  cursor: not-allowed;
}
